{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Success</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>File Uploaded Successfully!</h1>
        <p>Your file has been uploaded and will expire in 7 days.</p>
        <a href="{% url 'home' %}">Go to Home</a>
    </div>
</body>
</html>
